{% extends 'base.html' %}
{% load django_vite %}

{% block title %}GitHub Repository Downloader{% endblock %}
{% block extra_style %}
  <style>
      form {
          border: 1px solid #ccc;
          padding: 20px;
          border-radius: 5px;
          margin-bottom: 20px; /* For spacing between forms */
      }

      input[type="url"], form button {
          width: 100%;
          padding: 12px;
          margin-bottom: 10px; /* Space between form elements */
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
      }

      .section {
          margin-bottom: 20px;
      }

      .glow {
          box-shadow: 0 0 8px 2px greenyellow;
      }

      .form-or {
          font-weight: bold;
          font-style: italic;
      }

      div.zip-file-upload {
          display: flex;
          flex-direction: row;
          gap: 10px;
          justify-items: start;
      }

      div.zip-file-upload button {
          max-width: 150px;
      }

      .error-message-def-hidden {
          color: #a94442; /* A general 'error' red color */
          background-color: #f8d7da; /* Light red/pink background for contrast */
          border: 1px solid #e0b4b4; /* Soft border color */
          padding: 10px;
          margin-top: 10px;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
          display: none; /* Hidden by default */
      }
      
      .error-message {
          color: #a94442; /* A general 'error' red color */
          background-color: #f8d7da; /* Light red/pink background for contrast */
          border: 1px solid #e0b4b4; /* Soft border color */
          padding: 10px;
          margin-top: 10px;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
      }
      

  </style>
{% endblock %}

{% block head %}
  {% vite_hmr_client %}
  {% vite_asset 'downloader/vite_assets/downloader.js' %}
{% endblock head %}


{% block content %}
  <div class="container">
    <h1>GitHub Repository Downloader</h1>

    <section>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li
                {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
      {% endif %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}

      <div class="forms">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.repo_url.label }}
          {{ form.repo_url }}
          <p class="form-or">—OR—</p>

          {{ form.zip_file.label }}
          <div class="zip-file-upload">
            {{ form.zip_file }}
            <button type="button" id="removeFileBtn" style="display: none;">Remove File
            </button>
          </div>
          <div id="zipFileError" class="error-message-def-hidden" style="display:none;"></div>
          <button type="submit" style="margin-top: 10px">Download</button>
        </form>
        <button id="fillFormButton" type="button">Test it out with this site's repo!
        </button>
      </div>
    </section>

    <div class="section">
      <h2>What is this site?</h2>
      <p>This site allows you to download and view the contents of a GitHub repository as
         a
         single text file.</p>
    </div>

    <div class="section">
      <h2>Why was this tool created?</h2>
      <p>This tool was created to make it easy to share context with chatbots like
         ChatGPT,
         Claude, and Gemini.
         By downloading a GitHub repository as a single text file, you can easily provide
         the chatbot with the necessary context to understand and discuss the contents of
         the repository. You can find the source code for this site
        <a href="https://github.com/dmwyatt/gh_repo_download#what-is-this-project">here</a>.
      </p>
      <p>Here are a few examples of how this tool can be useful when interacting with
         chatbots:</p>
      <ul>
        <li>Share the source code of a project with the chatbot to discuss implementation
            details or get suggestions for improvements.
        </li>
        <li>Provide the chatbot with a repository containing documentation or research
            papers to facilitate a conversation about the topics covered.
        </li>
        <li>Use the downloaded text file to give the chatbot context about a specific
            topic
            or domain, enabling more informed and relevant responses.
        </li>
      </ul>
    </div>

    <div class="section">
      <h2>How to use:</h2>
      <ol>
        <li>Enter the URL of a GitHub repository in the form below.</li>
        <li>Click the "Download" button.</li>
        <li>The site will process the repository and generate a downloadable text file.
        </li>
        <li>On the next page, click the "Download file" link to save the text file
            locally.
        </li>
      </ol>
    </div>

    <div class="section">
      <h2>Limitations and Considerations:</h2>
      <ul>
        <li>The maximum size of repositories that can be downloaded
            is {{ MAX_REPO_SIZE|filesizeformat }}.
        </li>
        <li>Only text files from the repository will be included in the downloaded file.
        </li>
        <li>The downloaded file is a concatenation of the text files from the repository.
        </li>
        <li>We'll stop after processing {{ MAX_FILE_COUNT }} files from the repo.</li>
        <li>We'll only deliver up to {{ MAX_TEXT_SIZE|filesizeformat }} of text.</li>
      </ul>
    </div>

    <div class="section">
      <h2>FAQ:</h2>
      <p><strong>Q: What types of files are included in the download?</strong><br>
        A: Only text files from the repository are included in the downloaded file.</p>

      <p><strong>Q: What is the size limit for the repositories that can be
                 downloaded?</strong><br>
        A: The maximum size limit for repositories is {{ MAX_REPO_SIZE|filesizeformat }}.
        Repositories exceeding this limit cannot be downloaded.</p>
    </div>

    <div class="section">
      <h2>Disclaimer:</h2>
      <p>This site is for informational purposes only. Users are responsible for complying
         with GitHub's terms of service and any applicable licenses or permissions when
         downloading repositories.</p>
    </div>

    <script>

      document.getElementById('fillFormButton').addEventListener('click', function () {
        const repoUrl = 'https://github.com/dmwyatt/gh_repo_download';
        const inputField = document.querySelector('input[name="repo_url"]');
        inputField.value = '';
        let i = 0;
        const totalDuration = 425;
        const timeoutDuration = totalDuration / repoUrl.length;

        inputField.classList.add('glow');

        function typeEffect() {
          if (i < repoUrl.length) {
            inputField.value += repoUrl.charAt(i);
            i++;
            setTimeout(typeEffect, timeoutDuration);
          } else {
            inputField.classList.remove('glow');
          }
        }

        typeEffect();
      });

    </script>


  </div>
{% endblock content %}
