{% extends 'base.html' %}
{% load django_vite %}
{% block extra_style %}
  <style>
      .info {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 10px 20px;
          align-items: center;
          justify-content: start;
      }

      /* Adjustments for the container's alignment or any other specific styling */
  </style>
{% endblock %}
{% block head %}
  {% vite_hmr_client %}
  {% vite_asset 'downloader/vite_assets/download.js' %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ repo_name }}</h1>
    <div class="action-links">
      <a id="download-link"
         href="data:text/plain;charset=utf-8,{{ encoded_file_content }}"
         download="{{ repo_name }}.txt">Download file</a>
      <button onclick="copyToClipboard()">Copy to Clipboard</button>
    </div>
    <div class="info">
      <div class="info-key">Zip file size:</div>
      <div class="info-value">{{ zip_file_size|filesizeformat }}</div>

      <div class="info-key">Total uncompressed size:</div>
      <div class="info-value">{{ total_uncompressed_size|filesizeformat }}</div>

      <div class="info-key">Download File size:</div>
      <div class="info-value">{{ download_file_size|filesizeformat }}</div>

      <div class="info-key">Number of files in download:</div>
      <div class="info-value">{{ concatenated_file_count }}</div>

      <div class="info-key">Total repo files:</div>
      <div class="info-value">{{ total_file_count }}</div>

      <div class="info-key">cl100k_base token count:</div>
      <div class="info-value" id="cl100k_base_token_count">Loading...</div>
    </div>
    <a href="/">Download another</a>

    <script>
      function copyToClipboard() {
        const downloadLink = document.getElementById("download-link");
        const dataURI = downloadLink.getAttribute("href");
        const content = decodeURIComponent(dataURI.split(",")[1]);
        navigator.clipboard.writeText(content).then(function () {
          alert("File contents copied to clipboard!");
        }, function (err) {
          console.error("Could not copy text: ", err);
        });
      }
    </script>
  </div>
{% endblock content %}